<table class="table">
    <tbody>
    <tr>
        <td>Диагональ</td>
        <td>{{product.diagonal}}</td>
    </tr>
    <tr>
        <td>Дисплей</td>
        <td>{{product.display}}</td>
    </tr>
    <tr>
        <td>Разрешение экрана</td>
        <td>{{product.resolution}}</td>
    </tr>
    <tr>
        <td>объем батареии</td>
        <td>{{product.accum_volume}}</td>
    </tr>
    <tr>
        <td>ОЗУ</td>
        <td>{{product.ram}}</td>
    </tr>
    <tr>
    <tr>
        <td>Наличие слота карты памяти</td>
        <td>{{product.sd}}</td>
    </tr>
    <tr>
        <td>Макс объем встр памяти</td>
        <td>{{product.sd_volume_max}}</td>
    </tr>
    <tr>
        <td>Главная камера</td>
        <td>{{product.main_cam_np}}</td>
    </tr>
    <tr>
        <td>Фронтальная камера</td>
        <td>{{product.frontal_cam_np}}</td>
    </tr>

    </tbody>
</table>


